<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mafia2Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Mafia2Tool.Properties.Settings>
            <setting name="SDSPath" serializeAs="String">
                <value>E:/Games/Steam/steamapps/common/Mafia II/pc/sds/city/extracted/chinatown</value>
            </setting>
            <setting name="SDSPath1" serializeAs="String">
                <value>E:\Games\Steam\steamapps\common\Mafia II\pc\sds\shops\extracted\gunshop</value>
            </setting>
            <setting name="SDSPath2" serializeAs="String">
                <value>D:\Users\Connor\Desktop\SteamLibrary\steamapps\common\Mafia II\pc\sds\shops\extracted\joesflat_chodba</value>
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CloudVersion" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MaterialPath" serializeAs="String">
                <value>D:\Users\Connor\Desktop\SteamLibrary\steamapps\common\Mafia II\edit\materials</value>
            </setting>
        </Mafia2Tool.Properties.Settings>
    </userSettings>
</configuration>